.kong-tiao{
    width: 100%;
    height: 100%;
    position: relative;
}
/* 控制图标 */
.kongtiao-control{
    position: absolute;
    right: 2%;
    top: 3%;
    cursor: pointer;
}
.kongtiao-control-box{
    position: relative;
}
.kongtiao-control-img{
    width: 0.35rem;
    height: 0.35rem;
}
/* 控制面板 */
.kongtiao-control-panel{
    position: absolute;
    right: 0.28rem;
    top: 0.28rem;
    border: 2px solid #2FECEE;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    padding: 0.15rem;
}
.kongtiao-panel-box{
    /* width: 85%;
    height: 85%; */
    margin: auto;
}
.kongtiao-panel-item{
    padding: 0.05rem 0.15rem;
    border: 1px solid #0a8e91;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #0a8e91;
    color: #000D1D;
    min-width: 1rem;
}
.kongtiao-panel-item.active{
    border: 1px solid #52AAF8;
    color: #00C1C3;
    background: #183158;
}
.kongtiao-panel-item:not(:last-child){
    margin-bottom: 0.1rem;
}
.kongtiao-panel-icon{
    width: 0.16rem;
    height: auto;
    margin-right: 0.05rem;
}
.kongtiao-panel-text{
   
}
/* 故障列表 */
.trouble-list{

}
.trouble-item{
    position: absolute;
    left: 10%;
    top: 10%;

}
.trouble-item-img{
    width: 0.35rem;
    cursor: pointer;
}
.trouble-item-box{
    position: relative;
}
.trouble-simplify{
    display: flex;
    justify-content: center;
    padding: 0.08rem 0.10rem 0.20rem 0.10rem;
    background: url(../images/buble.png) no-repeat;
    background-size: 100% 100%;
    width: 150%;
    position: absolute;
    bottom:110%;
    left:-37%;
    z-index: 5;
    text-align: center;
}
.trouble-number{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.16rem;
    font-family: shishangzhonghei;
    cursor: pointer;
}
.trouble-number.big{
    font-size: 0.26rem;
}
.trouble-detail{
    display: flex;
    justify-content: center;
    
    min-width: 2.5rem;
    /* height: 100px; */
    position: absolute;
    /* bottom: -1.2rem;
    right: -1.5rem; */
    z-index: 10;
}
.trouble-detail.level_1 .trouble-title{
    background: #F34139;
}
.trouble-detail.level_1 .trouble-content{
    background: #3E0B09;
}
.trouble-detail.level_2 .trouble-title{
    background: #BFA000;
}
.trouble-detail.level_2 .trouble-content{
    background: #7F6B06;
}
.trouble-detail.level_3 .trouble-title{
    background: #549E0B;
}
.trouble-detail.level_3 .trouble-content{
    background: #264B05;
}
.trouble-detail-box{
    width: 100%;
}
.trouble-title{
    padding: 0.10rem;
    background: #00C1C3;
    text-align: center;
}
.trouble-content{
    padding: 0.10rem;
    background: #0a8e91;
    height: 2.2rem;
}
.trouble-overhidden{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.trouble-over-scroll{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.trouble-over-scroll::-webkit-scrollbar-thumb {
    /* 滚动条里面小方块 */

    border-radius: 5px;

    -webkit-box-shadow: inset 0 0 5px rgb(0, 189, 191);

    background: #00BDBF;

}

.trouble-detail-item{
    padding-bottom: 0.15rem;
    border-bottom: 1px dashed #fff;
    position: relative;
    font-size: 0.14rem;
    margin-bottom: 0.15rem;
}
.trouble-address{
    display: flex;
}
.trouble-adress-detail{
    margin-top: 0.05rem;
    display: flex;
}
.address-info{
    color: #26FBF3;
    font-style: normal;
    margin-right: 0.05rem;
}
.trouble-detail-item .adress-status{
    position: absolute;
    right: 0.10rem;
    top: 0.15rem;
}

.trouble-adress-img{
    width: 0.14rem;
    height: 0.17rem;
    cursor: pointer;
}

